{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Persona' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'vivienda_lista' %}">{% trans 'Vivienda' %}</a></li>
    <li><a href="{% url 'grupo_familiar_lista' %}">{% trans 'Grupo Familiar' %}</a></li>
    <li class="active">{% trans 'Persona' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Listar</h3><br>
        </div>

        <div class="box-header">
            <a href="{% url 'persona_registro' %}" class="btn btn-success pull-left">Registrar</a>
        </div>

        <div class="box-body">
            <div class="row box-body table-responsive">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                    <table class="table table-striped table-hover table-bordered display dataTable blue-table" id="table" style="width:6300px;">
                        <thead>
                            <tr>
                                <th>Grupo Familiar</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cédula</th>
                                <th>Teléfono</th>
                                <th>correo</th>
                                <th>Sexo</th>
                                <th>Fecha de nacimiento</th>
                                <th>Edad</th>
                                <th>Parentesco</th>
                                <th>Jefe Familiar</th>
                                <th>Estado civil</th>
                                <th>Grado de instrucción</th>
                                <th>Misión Educativa</th>
                                <th>Misión Social</th>
                                <th>Profesión</th>
                                <th>Ocupación</th>
                                <th>Lugar de Trabajo</th>
                                <th>Ingresos</th>
                                <th>Pensionado</th>
                                <th>Jubilado</th>
                                <th>Deporte que practica</th>
                                <th>Enfermedad que presenta</th>
                                <th>Discapacidad que presenta</th>
                                <th>¿Ha leído la ley de consejos comunales?</th>
                                <th>¿Qué cursos le gustaría hacer?</th>
                                <th>¿Qué organizaciones comunitarias conoce?</th>
                                <th>¿Qué hace en sus horas de ocio?</th>
                                <th>¿Qué sugiere Ud. para mejorar la comunicación en la comunidad?</th>
                                <th>¿Qué inseguridad presenta la comunidad?</th>
                                <th>Algún comentario que desee hacer en relación a las necesidades y soluciones en la comunidad</th>
                                <th>Observación</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for persona in object_list %}
                                <tr>
                                <td>{{ persona.grupo_familiar }}</td>
                                <td>{{ persona.nombre }} </td>
                                <td>{{ persona.apellido }}</td>
                                {% if persona.cedula %}
                                    <td>{{ persona.cedula }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ persona.telefono }}</td>
                                <td>{{ persona.correo }}</td>
                                <td>{{ persona.get_sexo_display }}</td>
                                <td>{{ persona.fecha_nacimiento }}</td>
                                <td>{{ persona.edad }}</td>
                                <td>{{ persona.get_parentesco_display }}</td>
                                {% if persona.jefe_familiar %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td>{{ persona.get_estado_civil_display }}</td>
                                <td>{{ persona.get_grado_instruccion_display }}</td>
                                <td>{{ persona.get_mision_educativa_display }}</td>
                                <td>{{ persona.get_mision_social_display }}</td>
                                <td>{{ persona.profesion }}</td>
                                <td>{{ persona.ocupacion }}</td>
                                <td>{{ persona.lugar_trabajo }}</td>
                                <td>{{ persona.get_ingreso_display }}</td>
                                {% if persona.pensionado %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                {% if persona.jubilado %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td>{{ persona.deporte }}</td>
                                <td>{{ persona.enfermedad }}</td>
                                <td>{{ persona.discapacidad }}</td>
                                {% if persona.ley_consejo_comunal %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td>{{ persona.curso }}</td>
                                <td>{{ persona.organizacion_comunitaria }}</td>
                                <td>{{ persona.ocio }}</td>
                                <td>{{ persona.mejorar_comunicacion }}</td>
                                <td>{{ persona.inseguridad }}</td>
                                <td>{{ persona.comentario }}</td>
                                <td>{{ persona.observacion }}</td>
                                <td> <a href="{% url 'persona_actualizar' persona.id %}" data-toggle="tooltip" title="Actualizar"><i class="fa fa-pencil"></i></a> <a href="{% url 'persona_eliminar' persona.id %}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-remove"></i</a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#table').DataTable({
                "autoWidth": false,
                "columnDefs": [
                    { "width": "200px", "targets": 0 },
                    { "width": "250px", "targets": 1 },
                    { "width": "250px", "targets": 2 },
                    { "width": "150px", "targets": 3 },
                    { "width": "150px", "targets": 4 },
                    { "width": "250px", "targets": 5 },
                    { "width": "100px", "targets": 6 },
                    { "width": "100px", "targets": 7 },
                    { "width": "100px", "targets": 8 },
                    { "width": "150px", "targets": 9 },
                    { "width": "100px", "targets": 10 },
                    { "width": "150px", "targets": 11 },
                    { "width": "150px", "targets": 12 },
                    { "width": "150px", "targets": 13 },
                    { "width": "150px", "targets": 14 },
                    { "width": "200px", "targets": 15 },
                    { "width": "200px", "targets": 16 },
                    { "width": "200px", "targets": 17 },
                    { "width": "150px", "targets": 18 },
                    { "width": "150px", "targets": 19 },
                    { "width": "150px", "targets": 20 },
                    { "width": "250px", "targets": 21 },
                    { "width": "250px", "targets": 22 },
                    { "width": "250px", "targets": 23 },
                    { "width": "250px", "targets": 24 },
                    { "width": "250px", "targets": 25 },
                    { "width": "250px", "targets": 26 },
                    { "width": "250px", "targets": 27 },
                    { "width": "250px", "targets": 28 },
                    { "width": "250px", "targets": 29 },
                    { "width": "400px", "targets": 30 },
                    { "width": "300px", "targets": 31 },
                    { "width": "100px", "targets": 32 },
                ],
            });

            button_datatable(table);
        });
    </script>
{% endblock %}
