{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Vivienda' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'vivienda_lista' %}">{% trans 'Vivienda' %}</a></li>
    <li class="active">{% if not form.instance.pk %}{% trans 'Registro' %}{% else %}{% trans 'Actualizar' %}{% endif %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
	        <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
            {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.fecha_hora.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.fecha_hora.auto_id }}">
                                    {{ form.fecha_hora.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.fecha_hora }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.fecha_hora.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tipo_techo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_techo.auto_id }}">
                                    {{ form.tipo_techo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.tipo_techo }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.tipo_techo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.servicio_electrico.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.servicio_electrico.auto_id }}">
                                    {{ form.servicio_electrico.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.servicio_electrico }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.servicio_electrico.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.situacion_sanitaria.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.situacion_sanitaria.auto_id }}">
                                    {{ form.situacion_sanitaria.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.situacion_sanitaria }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.situacion_sanitaria.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.disposicion_basura.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.disposicion_basura.auto_id }}">
                                    {{ form.disposicion_basura.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.disposicion_basura }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.disposicion_basura.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tipo_vivienda.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_vivienda.auto_id }}">
                                    {{ form.tipo_vivienda.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.tipo_vivienda }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.tipo_vivienda.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tipo_pared.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_pared.auto_id }}">
                                    {{ form.tipo_pared.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.tipo_pared }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.tipo_pared.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div id="bloque_pared_frizada" class="invisible">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.pared_frizada.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.pared_frizada.auto_id }}">
                                    {{ form.pared_frizada.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.pared_frizada }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.pared_frizada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tipo_piso.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_piso.auto_id }}">
                                    {{ form.tipo_piso.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.tipo_piso }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.tipo_piso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div id="bloque_cemento" class="invisible">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tipo_cemento.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tipo_cemento.auto_id }}">
                                    {{ form.tipo_cemento.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.tipo_cemento }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.tipo_cemento.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.condicion_vivienda.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.condicion_vivienda.auto_id }}">
                                    {{ form.condicion_vivienda.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.condicion_vivienda }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.condicion_vivienda.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.condicion_techo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.condicion_techo.auto_id }}">
                                    {{ form.condicion_techo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.condicion_techo }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.condicion_techo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.condicion_pared.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.condicion_pared.auto_id }}">
                                    {{ form.condicion_pared.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.condicion_pared }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.condicion_pared.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.condicion_piso.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.condicion_piso.auto_id }}">
                                    {{ form.condicion_piso.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.condicion_piso }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.condicion_piso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.condicion_ventilacion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.condicion_ventilacion.auto_id }}">
                                    {{ form.condicion_ventilacion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.condicion_ventilacion }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.condicion_ventilacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.condicion_iluminacion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.condicion_iluminacion.auto_id }}">
                                    {{ form.condicion_iluminacion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.condicion_iluminacion }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.condicion_iluminacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.accesibilidad_ambulatorio.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.accesibilidad_ambulatorio.auto_id }}">
                                    {{ form.accesibilidad_ambulatorio.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.accesibilidad_ambulatorio }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.accesibilidad_ambulatorio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.accesibilidad_escuela.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.accesibilidad_escuela.auto_id }}">
                                    {{ form.accesibilidad_escuela.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.accesibilidad_escuela }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.accesibilidad_escuela.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.accesibilidad_liceo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.accesibilidad_liceo.auto_id }}">
                                    {{ form.accesibilidad_liceo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.accesibilidad_liceo }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.accesibilidad_liceo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.accesibilidad_centro_abastecimiento.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.accesibilidad_centro_abastecimiento.auto_id }}">
                                    {{ form.accesibilidad_centro_abastecimiento.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.accesibilidad_centro_abastecimiento }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.accesibilidad_centro_abastecimiento.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.numero_habitaciones.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.numero_habitaciones.auto_id }}">
                                    {{ form.numero_habitaciones.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.numero_habitaciones }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.numero_habitaciones.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.numero_salas.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.salas.auto_id }}">
                                    {{ form.numero_salas.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.numero_salas }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.numero_salas.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.numero_banhos.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.numero_banhos.auto_id }}">
                                    {{ form.numero_banhos.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.numero_banhos }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.numero_banhos.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tiene_terreno.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tiene_terreno.auto_id }}">
                                    {{ form.tiene_terreno.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.tiene_terreno }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.tiene_terreno.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="bloque_terreno" class="invisible">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.metro_cuadrado.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.metro_cuadrado.auto_id }}">
                                    {{ form.metro_cuadrado.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.metro_cuadrado }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.metro_cuadrado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.productivo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.productivo.auto_id }}">
                                    {{ form.productivo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.productivo }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.productivo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.por_producir.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.por_producir.auto_id }}">
                                    {{ form.por_producir.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.por_producir }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.por_producir.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.riesgo_rio.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.riesgo_rio.auto_id }}">
                                    {{ form.riesgo_rio.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.riesgo_rio }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.riesgo_rio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.riesgo_quebrada.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.riesgo_quebrada.auto_id }}">
                                    {{ form.riesgo_quebrada.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.riesgo_quebrada }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.riesgo_quebrada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.riesgo_derrumbe.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.riesgo_derrumbe.auto_id }}">
                                    {{ form.riesgo_derrumbe.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.riesgo_derrumbe }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.riesgo_derrumbe.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.riesgo_zona_sismica.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.riesgo_zona_sismica.auto_id }}">
                                    {{ form.riesgo_zona_sismica.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.riesgo_zona_sismica }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.riesgo_zona_sismica.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.animales.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.animales.auto_id }}">
                                    {{ form.animales.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.animales }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.animales.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.estado.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.estado.auto_id }}">
                                    {{ form.estado.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.estado }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.estado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.municipio.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.municipio.auto_id }}">
                                    {{ form.municipio.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.municipio }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.municipio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.parroquia.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.parroquia.auto_id }}">
                                    {{ form.parroquia.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.parroquia }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.parroquia.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.consejo_comunal.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.consejo_comunal.auto_id }}">
                                    {{ form.consejo_comunal.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.consejo_comunal }}
                                        {{ form.rif_consejo_comunal }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.consejo_comunal.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.direccion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.direccion.auto_id }}">
                                    {{ form.direccion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.direccion }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.direccion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.numero_vivienda.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.numero_vivienda.auto_id }}">
                                    {{ form.numero_vivienda.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.numero_vivienda }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.numero_vivienda.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group {% if form.coordenada.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.coordenada.auto_id }}">
                                    {{ form.coordenada.label }}
                                </label>
                                <div class="col-md-8 col-xs-8 col-sm-8 form-inline">
                                        {{ form.coordenada }}
                                    {% include 'base/form.errors.html' with form_errors=form.coordenada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                    <i class="btn btn-info btn-sm" data-toggle="tooltip"
                                        title="{% trans 'Presione el botón para seleccionar su ubicación' %}"
                                        onclick="seleccionar_coordenadas('{% trans 'Seleccionar Coordenadas' %}',$('#sel-coordenada').html())">Agregar</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.observacion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.observacion.auto_id }}">
                                    {{ form.observacion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.observacion }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.observacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="box-footer text-right">
                    <a href="{% url 'vivienda_lista' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script>
        $(document).ready(function() {
            //mostrar campos dependientes del valor de otros a la hora de actualizar
            var tipo_pared = $("#id_tipo_pared").val();
            var bpf = $("#bloque_pared_frizada");
            (tipo_pared==="BL") ? bpf.removeClass('invisible') : bpf.addClass('invisible');

            var tipo_piso = $("#id_tipo_piso").val();
            var bc = $("#bloque_cemento");
            (tipo_piso==="CE") ? bc.removeClass('invisible') : bc.addClass('invisible');

            var tiene_terreno = $("#id_tiene_terreno").is(':checked');
            var bt = $("#bloque_terreno");
            (tiene_terreno) ? bt.removeClass('invisible') : bt.addClass('invisible');
        });

        function frizada(val)
        {
            if( val == "BL")
            {
                $("#bloque_pared_frizada").removeClass('invisible');
            }
            else
            {
                $("#bloque_pared_frizada").addClass('invisible');
            }
        }

        function cemento(val)
        {
            if( val == "CE")
            {
                $("#bloque_cemento").removeClass('invisible');
            }
            else
            {
                $("#bloque_cemento").addClass('invisible');
            }
        }

        function terreno(opcion)
        {
            if( opcion )
            {
                $("#bloque_terreno").removeClass('invisible');

                $("#id_metro_cuadrado").attr('required', 'required');
                $("#id_metro_cuadrado").attr('min', '0.01');

                $("#id_productivo").attr('required', 'required');
                $("#id_productivo").attr('min', '0');

                $("#id_por_producir").attr('required', 'required');
                $("#id_por_producir").attr('min', '0');
            }
            else
            {
                $("#bloque_terreno").addClass('invisible');

                $("#id_metro_cuadrado").removeAttr('required');
                $("#id_metro_cuadrado").attr('min', '0');
                $("#id_metro_cuadrado").val(0);

                $("#id_productivo").removeAttr('required');
                $("#id_productivo").attr('min', '0');
                $("#id_productivo").val(0);

                $("#id_por_producir").removeAttr('required');
                $("#id_por_producir").attr('min', '0');
                $("#id_por_producir").val(0);
            }
        }
    </script>
{% endblock %}
