{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Vivienda' %}{% endblock %}
{% block content_header_roadmap %}
    <li class="active">{% trans 'Vivienda' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Listar</h3><br>
        </div>

        <div class="box-header">
            <a href="{% url 'vivienda_registro' %}" class="btn btn-success pull-left">Registrar</a>
        </div>

        <div class="box-body">
            <div class="row box-body table-responsive">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                    <table class="table table-striped table-hover table-bordered display dataTable blue-table" id="table" style="width:6050px;">
                        <thead>
                            <tr>
                                <th>Fecha y Hora</th>
                                <th>Tipo del Techo</th>
                                <th>Servicio Eléctrico</th>
                                <th>Situación Sanitaria</th>
                                <th>Disposición de la Basura</th>
                                <th>Tipo de la Vivienda</th>
                                <th>Tipo de la Pared</th>
                                <th>¿Pared Frizada?</th>
                                <th>Tipo del Piso</th>
                                <th>Tipo del Cemento</th>
                                <th>Condición de la Vivienda</th>
                                <th>Condición del Techo</th>
                                <th>Condición de la Pared</th>
                                <th>Condición del Piso</th>
                                <th>Condición de la Ventilación</th>
                                <th>Condición de la Iluminación</th>
                                <th>Accesibilidad al Ambulatorio</th>
                                <th>Accesibilidad a la Ecuela</th>
                                <th>Accesibilidad al Liceo</th>
                                <th>Accesibilidad al Centro de Abastecimiento</th>
                                <th>Número de Habitaciones</th>
                                <th>Número de Salas</th>
                                <th>Número de Baños</th>
                                <th>¿Tiene Terreno?</th>
                                <th title="Metros Cuadrados">Área | Productivo | Por Producir</th>
                                <th>¿Riego por Ríos?</th>
                                <th>¿Riego por Quebradas?</th>
                                <th>¿Riego por Derrumbes?</th>
                                <th>¿Riego por Zona Sísmica?</th>
                                <th>¿Qué Animales Tiene?</th>
                                <th title="Consejo Comunal, Parroquia, Municipio, Estado">Consejo Comunal</th>
                                <th>Dirección</th>
                                <th>Coordenadas</th>
                                <th>Número de la Vivienda</th>
                                <th>Observación</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vivienda in object_list %}
                                <tr>
                                <td> {{ vivienda.fecha_hora }} </td>
                                <td> {{ vivienda.get_tipo_techo_display }}</td>
                                <td> {{ vivienda.get_servicio_electrico_display }} </td>
                                <td> {{ vivienda.get_situacion_sanitaria_display }} </td>
                                <td> {{ vivienda.get_disposicion_basura_display }} </td>
                                <td> {{ vivienda.get_tipo_vivienda_display }} </td>

                                <td> {{ vivienda.get_tipo_pared_display }} </td>
                                {% if vivienda.tipo_pared == 'BL' %}
                                    {% if vivienda.pared_frizada %}
                                        <td> Si </td>
                                    {% else %}
                                        <td> No </td>
                                    {% endif %}
                                {% else %}
                                    <td> </td>
                                {% endif %}

                                <td> {{ vivienda.get_tipo_piso_display }} </td>
                                {% if vivienda.tipo_piso == 'CE' %}
                                    <td> {{ vivienda.get_tipo_cemento_display }} </td>
                                {% else %}
                                    <td> </td>
                                {% endif %}

                                <td> {{ vivienda.get_condicion_vivienda_display }} </td>
                                <td> {{ vivienda.get_condicion_techo_display }} </td>
                                <td> {{ vivienda.get_condicion_pared_display }} </td>
                                <td> {{ vivienda.get_condicion_piso_display }} </td>
                                <td> {{ vivienda.get_condicion_ventilacion_display }} </td>
                                <td> {{ vivienda.get_condicion_iluminacion_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_ambulatorio_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_escuela_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_liceo_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_centro_abastecimiento_display }} </td>
                                <td> {{ vivienda.numero_habitaciones }} </td>
                                <td> {{ vivienda.numero_salas }} </td>
                                <td> {{ vivienda.numero_banhos }} </td>

                                {% if vivienda.tiene_terreno %}
                                    <td> Si </td>
                                    <td> {{ vivienda.metro_cuadrado }} | {{ vivienda.productivo }} | {{ vivienda.por_producir }} </td>
                                {% else %}
                                    <td> No </td>
                                    <td> </td>
                                {% endif %}

                                {% if vivienda.riesgo_rio %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_quebrada %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_derrumbe %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_zona_sismica %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                <td> {{ vivienda.animales }} </td>

                                <td> {{ vivienda.communal_council }}, {{ vivienda.communal_council.parish }}, {{ vivienda.communal_council.parish.municipality }}, {{ vivienda.communal_council.parish.municipality.state }} </td>

                                <td> {{ vivienda.direccion }} </td>
                                <td> {{ vivienda.coordenadas }} </td>
                                <td> {{ vivienda }} </td>
                                <td> {{ vivienda.observacion }} </td>

                                <td> <a href="{% url 'vivienda_actualizar' vivienda.id %}" data-toggle="tooltip" title="Actualizar"><i class="fa fa-pencil"></i></a> <a href="{% url 'vivienda_eliminar' vivienda.id %}" data-toggle="tooltip" title="Eliminar"><i class="fa fa-remove"></i></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#table').DataTable({
                "autoWidth": false,
                "columnDefs": [
                    { "width": "250px", "targets": 0 },
                    { "width": "150px", "targets": 1 },
                    { "width": "150px", "targets": 2 },
                    { "width": "150px", "targets": 3 },
                    { "width": "150px", "targets": 4 },
                    { "width": "150px", "targets": 5 },
                    { "width": "150px", "targets": 6 },
                    { "width": "150px", "targets": 7 },
                    { "width": "150px", "targets": 8 },
                    { "width": "150px", "targets": 9 },
                    { "width": "150px", "targets": 10 },
                    { "width": "150px", "targets": 11 },
                    { "width": "150px", "targets": 12 },
                    { "width": "150px", "targets": 13 },
                    { "width": "150px", "targets": 14 },
                    { "width": "150px", "targets": 15 },
                    { "width": "150px", "targets": 16 },
                    { "width": "150px", "targets": 17 },
                    { "width": "150px", "targets": 18 },
                    { "width": "200px", "targets": 19 },
                    { "width": "150px", "targets": 20 },
                    { "width": "150px", "targets": 21 },
                    { "width": "150px", "targets": 22 },
                    { "width": "150px", "targets": 23 },
                    { "width": "300px", "targets": 24 },
                    { "width": "100px", "targets": 25 },
                    { "width": "100px", "targets": 26 },
                    { "width": "100px", "targets": 27 },
                    { "width": "150px", "targets": 28 },
                    { "width": "250px", "targets": 29 },
                    { "width": "250px", "targets": 30 },
                    { "width": "250px", "targets": 31 },
                    { "width": "250px", "targets": 32 },
                    { "width": "150px", "targets": 33 },
                    { "width": "300px", "targets": 34 },
                    { "width": "100px", "targets": 35 },
                ],
            });

            button_datatable(table);
        });
    </script>
{% endblock %}
