{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Grupo Familiar' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'vivienda_lista' %}">{% trans 'Vivienda' %}</a></li>
    <li><a href="{% url 'grupo_familiar_lista' %}">{% trans 'Grupo Familiar' %}</a></li>
    <li class="active">{% if not form.instance.pk %}{% trans 'Registro' %}{% else %}{% trans 'Actualizar' %}{% endif %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
	        <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
            {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.vivienda.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.vivienda.auto_id }}">
                                    {{ form.vivienda.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.vivienda }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.vivienda.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.apellido_familia.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.apellido_familia.auto_id }}">
                                    {{ form.apellido_familia.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.apellido_familia }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.apellido_familia.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tenencia.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tenencia.auto_id }}">
                                    {{ form.tenencia.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.tenencia }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.tenencia.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div id="bloque_alquilada" class="invisible">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group {% if form.alquilada.errors %}has-error{% endif %}">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.alquilada.auto_id }}">
                                        {{ form.alquilada.label }}
                                    </label>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.alquilada }}
                                        </div>
                                        {% include 'base/form.errors.html' with form_errors=form.alquilada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.pasaje.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.pasaje.auto_id }}">
                                    {{ form.pasaje.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.pasaje }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.pasaje.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.familia_beneficiada.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.familia_beneficiada.auto_id }}">
                                    {{ form.familia_beneficiada.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.familia_beneficiada }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.familia_beneficiada.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.observacion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.observacion.auto_id }}">
                                    {{ form.observacion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.observacion }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.observacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="box-footer text-right">
                    <a href="{% url 'grupo_familiar_lista' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script>
        $(document).ready(function() {
            //mostrar campos dependientes del valor de otros a la hora de actualizar
            var tenencia = $("#id_tenencia").val();
            var ba = $("#bloque_alquilada");
            (tenencia==="AL") ? ba.removeClass('invisible') : ba.addClass('invisible');
        });

        function __tenencia(val)
        {
            if( val == "AL")
            {
                $("#bloque_alquilada").removeClass('invisible');
                $("#id_alquilada").attr('required', 'required');
                $("#id_alquilada").attr('min', '1');
            }
            else
            {
                $("#bloque_alquilada").addClass('invisible');
                $("#id_alquilada").removeAttr('required');
                $("#id_alquilada").attr('min', '0');
                $("#id_alquilada").val(0);
            }
        }
    </script>
{% endblock %}
