{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-body">
	        <h3 class="text-center">Su contraseña se reestableció correctamente</h3>

	        <p class="text-center"><a  href="{% url 'usuario:login' %}">Iniciar Sesión</a></p>
        </div>
    </div>
{% endblock %}
