{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block contenido %}
    <div class="box box-info">
        {% if validlink %}
            <div class="box-header with-border">
                <h3 class="box-title">Nueva Contraseña</h3>
            </div>
            <div class="box-body">
                <form method="post">
                    {% csrf_token %}

                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}

                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
                    <div class="box-footer text-right">
                        <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Enviar' %}</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="box-header with-border">
                <h3 class="box-title">Enlace Inválido</h3>
            </div>
            <div class="box-body">
                <p class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
