{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-body">
            <p>{% trans 'Your password was changed.' %}</p>
        </div>
    </div>
{% endblock %}
