{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Recuperar Contraseña</h3>
        </div>
        <div class="box-body">
            <form method="post">
	            {% csrf_token %}
	            <label for="id_email">Correo:</label> {{ form.email }}
                <div class="box-footer text-right">
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Enviar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
