{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block content_header_roadmap %}
    <li><a href="#">{% trans 'Usuario' %}</a></li>
    <li class="active">{% trans 'Cambiar Clave' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Cambiar Contraseña</h3>
        </div>
        <div class="box-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.old_password.auto_id }}">
                                {{ form.old_password.label_tag }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.old_password }}
                                    <i class="ion ion-ios-medical item-requerido"></i>
                                </div>
                                {% include 'base/form.errors.html' with form_errors=form.old_password.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.new_password1.auto_id }}">
                                {{ form.new_password1.label_tag }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.new_password1 }}
                                    <i class="ion ion-ios-medical item-requerido"></i>
                                </div>
                                {% if form.new_password1.help_text %}
                                    {{ form.new_password1.help_text|safe }}
                                {% endif %}
                                {% include 'base/form.errors.html' with form_errors=form.new_password1.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.new_password2.auto_id }}">
                                {{ form.new_password2.label_tag }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.new_password2 }}
                                    <i class="ion ion-ios-medical item-requerido"></i>
                                </div>
                                {% if form.new_password2.help_text %}
                                    {{ form.new_password2.help_text|safe }}
                                {% endif %}
                                {% include 'base/form.errors.html' with form_errors=form.new_password2.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer text-right">
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip" >{% trans 'Enviar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
