{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}Usuario{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-body">
            <h4>Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h4>
        </div>
    </div>
{% endblock %}
