{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Usuario' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="#">{% trans 'Usuario' %}</a></li>
    <li class="active">{% trans 'Encuestador' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Encuestador - Listar</h3><br>
        </div>

        <div class="box-header">
            <a href="{% url 'usuario:pollster_create' %}" class="btn btn-success pull-left">Registrar</a>
        </div>

        <div class="box-body">
            <div class="row box-body table-responsive">
                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                    <table class="table table-striped table-hover table-bordered display dataTable blue-table" id="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pollster in object_list %}
                            <tr>
                                <td> {{ pollster.profile.user.username }} </td>
                                <td> {{ pollster.profile.user.first_name }} </td>
                                <td> {{ pollster.profile.user.last_name }} </td>
                                <td> {{ pollster.profile.user.email }} </td>
                                <td> {{ pollster.profile.phone }} </td>
                                {% if pollster.profile.user.is_active %}
                                    <td> Si <a href="{% url 'usuario:pollster_status_update' pollster.profile.user.id %}" data-toggle="tooltip" title="Cambiar Estatus"><i class="fa fa-pencil"></i></a> </td>
                                {% else %}
                                    <td> No <a href="{% url 'usuario:pollster_status_update' pollster.profile.user.id %}" data-toggle="tooltip" title="Cambiar Estatus"><i class="fa fa-pencil"></i></a> </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#table').DataTable();

            button_datatable(table);
        });
    </script>
{% endblock %}
