<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.username.auto_id }}">
                {{ form.username.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.username }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.username.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.first_name.auto_id }}">
                {{ form.first_name.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.first_name }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.first_name.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.last_name.auto_id }}">
                {{ form.last_name.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.last_name }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.last_name.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.email.auto_id }}">
                {{ form.email.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.email }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.email.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.phone.auto_id }}">
                {{ form.phone.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.phone }}
                </div>
                {% include 'base/form.errors.html' with form_errors=form.phone.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.password.auto_id }}">
                {{ form.password.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.password }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.password.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group {% if form.confirm_password.errors %}has-error{% endif %}">
            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.confirm_password.auto_id }}">
                {{ form.confirm_password.label }}
            </label>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="form-inline">
                    {{ form.confirm_password }}
                    <i class="ion ion-ios-medical item-requerido"></i>
                </div>
                {% include 'base/form.errors.html' with form_errors=form.confirm_password.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
            </div>
        </div>
    </div>
</div>
