{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}<br>{% endblock %}
{% block contenido %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">{% trans 'Error' %}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <h3 class="text-center"><i class="fa fa-warning text-red"></i> Oops! No tiene permiso de acceso a esta pagina.</h3>
        <p class="text-center">
            No puedes acceder a la pagina que buscas.
            Puedes <b><a href="{% url 'base:home' %}">retornar a inicio</a></b> o solicitar al administrador permisos de acceso.
        </p>
    </div>
</div>
{% endblock %}
