{% load i18n %}
<footer class="main-footer">
    <center>
        <p>Conceptualización: Gustavo González. Trabajador del CIDA<br>
        Conceptualización y Desarrollo: William Páez. Trabajador de CENDITEL<br>
        <i class="fa fa-copyright fa-flip-horizontal"></i> Copyleft {% now "Y" %}</p>
    </center>
</footer>
