{% load static from staticfiles %}
{% load i18n %}
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>

<!-- Variables javascript generales -->
<script type="text/javascript">

    /// Mensaje de error en peticiones AJAX
    var MSG_PETICION_AJAX_FALLIDA = "{% trans 'Petición fallida. Verifique el error: ' %}";

    /// Texto a mostrar para el botón de agregar registros a un formulario desde una ventana modal
    var BTN_AGREGAR = "{% trans 'Agregar' %}";

    /// Texto a mostrar para el botón de cancelar acción
    var BTN_CANCELAR = "{% trans 'Cancelar' %}";
</script>

<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootbox/bootbox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/openlayers/ol.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/select2/dist/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jquery-mask-plugin/dist/jquery.mask.min.js' %}" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="{% static 'tools/AdminLTE/js/adminlte.min.js' %}"></script>

<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.js' %}" type="text/javascript"></script>

<script src="{% static 'node_modules/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.flash.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/jszip/dist/jszip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/pdfmake/build/pdfmake.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/pdfmake/build/vfs_fonts.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js' %}" type="text/javascript"></script>

<!-- Formulario de ventanas modales -->
{% include 'base/form.box.html' %}
<script src="{% static 'js/functions.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //muestra los mensajes centrados
        $('[data-toggle="tooltip"]').tooltip();

        //para agregar el select2 en los respectivos campos de tipo select
        $(".select2").select2();
    });

    $.extend( true, $.fn.dataTable.defaults, {
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
        },
        "scrollX": true,
    });
</script>
